{% extends "layout.html" %}

{% block content %}

    <div class="jumbotron">
        <h1>{{ title }}</h1>
    </div>

<address>
    Yessenia Rodriguez<br />
    Bachelor's in Computer Science<br />
    <strong>Email:</strong>   <a href="mailto:yessenia.rodriguez01@utrgv.edu">yessenia.rodriguez01@utrgv.edu</a>
</address>

<address>
    Yessica Rodriguez<br />
    Bachelor's in Computer Science<br />
    <strong>Email:</strong>   <a href="mailto:yessica.rodriguez01@utrgv.edu">yessica.rodriguez01@utrgv.edu</a>
</address>

<address>
    Valerie A. Rivera<br />
    Bachelor's in Government and English<br />
    Master's in Public Policy and Management<br />
    <strong>Email:</strong>   <a href="mailto:valerie.a.rivera01@utrgv.edu">valerie.a.rivera01@utrgv.edu</a>
</address>

{% endblock %}
